/* Add application styles & imports to this file! */

.container {
  min-width: 100%;
}

.search input {
  width: 100%;
  margin-bottom: 0.2em;
}

.search p {
  color: white;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.card {
  border: 1px solid #ccc !important;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 5px;
  background-color: #00bed8 !important;
  cursor: pointer;
  display: flex;
  font-family: 'lato';
  align-items: center;
}

.card p {
  margin: 0;
  padding: 0;
}

.username {
  font-weight: bold;
}

.remove-btn {
  color: rgb(247, 4, 4);
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}

.card:hover {
  cursor: pointer;
}

.card-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.card-info > * {
  margin: 5px 0;
}

.card img {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .card-avatar {
    width: 100px;
    height: 100px;
  }
}

@media screen and (max-width: 576px) {
  .card {
    margin: 10px 0;
    flex-direction: column;
    align-items: center;
  }

  .card-avatar {
    width: 100px;
    height: 100px;
    margin-top: 10px;
  }

  .card-info {
    text-align: center;
    margin: 10px 0;
  }
}

.body {
  min-height: 22px;
  position: relative;
  font-family: 'lato';
  color: #fff;
  background-color: #000;
  padding: 10px;
  margin: 1em 0;
}
.header {
  font-size: 1.5em;
  padding-top: 0.83em;
  padding-bottom: 0.83em;
}

/* .main {
  min-height: 100%;
  padding-bottom: 60px;
} */
/* 
.footer {
  background-color: #f5f5f5;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  position: absolute;
  width: 100%;
}
*/
/* .row {
  margin: 20px 0;
} */
/* code {
  color: darkred !important;
} */
