/* Add application styles & imports to this file! */

.container {
  min-width: 100%;
}

.search input {
  width: 100%;
}

.search p {
  color: white;
}

.body {
  min-height: 22px;
  position: relative;
  font-family: 'lato';
  color: #fff;
  background-color: #000;
  padding: 10px;
  margin: 1em 0;
}
.header {
  font-size: 1.5em;
  padding-top: 0.83em;
  padding-bottom: 0.83em;
}

/* .main {
  min-height: 100%;
  padding-bottom: 60px;
} */
/* 
.footer {
  background-color: #f5f5f5;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  position: absolute;
  width: 100%;
}

.row {
  margin: 20px 0;
}
code {
  color: darkred !important;
} */
