<div class="body">
  <header class="header">Git User Profile Viewer</header>
  <div class="search">
    <p>Search git user and hit enter.</p>
    <input
      type="text"
      placeholder="username"
      (keyup.enter)="searchUser($event.target.value)"
    />
  </div>

  <div class="cards-container">
    <div class="card" *ngFor="let user of searchedUsers">
      <img [src]="user.avatar_url" alt="User Avatar" />
      <p class="username">{{ user.name }}</p>
      <p>({{ user.login }})</p>
      <p>{{ user.company }}</p>
      <p>Followers: {{ user.followers }}</p>
      <p>Public Repos: {{ user.public_repos }}</p>
      <p class="remove-btn" (click)="removeUser(user)">remove</p>
    </div>
  </div>
</div>
